
#logo{
    margin:45px;
    padding: 20px;
}
#header_sec{
    display:flex;
    justify-content: flex-end;
    align-items: end;

}
#header_menu{
    list-style: none; 
    display:flex;
    padding:2px;
    margin-left: 400px;
    gap:20px;
}
